12factor-vault==0.1.14
Django==1.11.2
django-cors-headers==2.1.0
django-mama-cas==2.3.0
django-oauth-toolkit==1.0.0
django-postgresql-setrole==1.0.8
envdir==0.7
gunicorn==19.7.1
hvac==0.2.17
passlib==1.7.1
psycopg2==2.7.1
pycryptodome==3.4.6
python-consul==0.7.0
requests==2.17.3
sqlparse==0.2.3
typing==3.6.1
whitenoise==3.3.0

# DKIM filter dependencies
mn-dkimpy==0.6.1.dev1
python-daemon==2.1.2

# vendored dependencies from django12factor
dj-database-url==0.4.2
dj-email-url==0.0.10
django-cache-url==2.0.0
six==1.10.0

# pytz is consciously unpinned, I trust this collection of timezones to not fuck up
pytz
