psycopg2==2.6.2
Django==1.10.1
django-mama-cas==2.0.1
requests==2.11.1
gunicorn==19.6.0
hvac==0.2.16
typing==3.5.2.2
passlib==1.6.5
django-postgresql-setrole==1.0.5
envdir==0.7

# vendored dependencies from django12factor
dj-database-url==0.4.1
dj-email-url==0.0.8
django-cache-url==1.2.0
six==1.10.0

# pytz is conciously unpinned, I trust this collection of timezones to not fuck up
pytz
