[Unit]
Description=authserver - A Django CAS/OAUTH server to manage a PostgreSQL credential DB

[Service]
Type=simple
User=authserver
Group=authserver
ExecStartPre=/usr/local/authserver/bin/envdir /etc/appconfig/authserver/env /usr/local/authserver/bin/django-admin.py migrate --settings=authserver.settings
ExecStart=/usr/local/authserver/bin/envdir /etc/appconfig/authserver/env /usr/local/authserver/bin/gunicorn -b ${BINDIP}:${BINDPORT} -w 2 authserver.wsgi:application
Restart=on-failure
RestartSec=5s
WorkingDirectory=/usr/local/authserver
PIDFIle=/run/authserver/authserver.pid

[Install]
WantedBy=multi-user.target
