[Unit]
Description=maurus.net dkimsigner

[Service]
Type=simple
User=authserver
Group=authserver
SyslogIdentifier=dkimsigner
# $$ to quote envvars so systemd doesn't expand them first
ExecStart=/usr/local/authserver/bin/envdir /etc/appconfig/dkimsigner/env \
    /bin/bash -c '/usr/local/authserver/bin/dkimsigner -p /run/authserver/dkimsigner.pid \
        --input-ip $${BINDIP} \
        --input-port $${BINDPORT} \
        --output-ip $${RELAYIP} \
        --output-port $${RELAYPORT}'
Restart=on-failure
RestartSec=5s
WorkingDirectory=/usr/local/authserver
PIDFile=/run/authserver/dkimsigner.pid

[Install]
WantedBy=multi-user.target
